@media (min-width: 1023px) {
  .filter-block__button-price-active:hover svg {
    fill: #22282d;
    transition: 0.9s ease;
  }
  .filter-block__button-price-active:hover {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    transition: 0.9s ease;
  }
  .filter-container-advanced__button:hover .filter-container-advanced__button-line {
    stroke: #8e9fbc;
    stroke-opacity: 1;
    transition: 0.9s ease;
  }
  .filter-container-advanced__button:hover .filter-container-advanced__button-square {
    background-color: #8e9fbc;
    transition: 0.9s ease;
    border: 1px solid #8e9fbc;
  }
  .filter-container-advanced__button:hover .filter-container-advanced__button-plus {
    stroke: #fff;
    transition: 0.9s ease;
  }
  .filter-block__item:hover {
    background-color: gray;
    transition: 0.9s ease;
  }
  .filter-block__button-price:hover svg {
    fill: #fff;
    transition: 0.9s ease;
  }
  .filter-block__button-price:hover {
    background-color: #8e9fbc;
    border: none;
    transition: 0.9s ease;
  }
  .filter-block__button-search:hover {
    transition: 0.9s ease;
    background-color: gray;
    color: #8e9fbc;
  }
  .filter-block__select:hover .filter-block__button {
    background-color: #8e9fbc;
    border: 1px solid #8e9fbc;
    transition: 0.9s ease;
  }
  .filter-block__select:hover .filter-block__button-arrow {
    stroke: #fff;
    transition: 0.9s ease;
  }
}
@media (max-width: 1300px) {
  .filter {
    display: none;
  }
}
