@media (min-width: 1023px) {
  .header-popUp__item:hover .header-popUp__link {
    color: #000;
    transition: 0.9s ease;
  }
  .header-panel__user:hover .header-popUp {
    opacity: 1;
    right: 0;
    transition: 0.6s ease;
    transform: scale(1);
  }
  .header-panel__button-marks:hover .header-panel__button-marks-svg {
    opacity: 1;
    transition: 0.9s ease;
  }
  .panel__button:hover .panel__button-border {
    fill: rgba(255, 255, 255, 0.4);
    stroke: #fff;
    stroke-opacity: 1;
    transition: 0.9s ease;
  }
  .header-panel__nav-item:hover .header-panel__nav-link {
    opacity: 0.5;
    transition: 0.9s ease;
  }
}
@media (max-width: 1500px) {
  .header-panel__nav {
    margin-right: 100px;
  }
}
@media (max-width: 1300px) {
  .header-panel__nav {
    display: none;
  }
  .panel__button {
    display: none;
  }
  .header-panel__button-marks-hidden {
    display: block;
  }
  .header-panel__user::after {
    position: absolute;
    content: '';
    left: 0;
    height: 82px;
    width: 1px;
    background-color: #ffffff;
    opacity: 0.1;
  }
  .header-user__burger {
    position: relative;
    display: block;
    width: 26px;
    height: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }
  .header-user__burger::before {
    position: absolute;
    content: '';
    width: 100%;
    top: 0;
    height: 2px;
    border-radius: 6px;
    background-color: #fff;
    transition: 0.9s ease;
  }
  .header-user__burger::after {
    position: absolute;
    content: '';
    width: 100%;
    bottom: 0;
    height: 2px;
    border-radius: 6px;
    background-color: #fff;
    transition: 0.9s ease;
  }
  .header-panel__user {
    margin-right: 36px;
  }
}
