.header {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-style: normal;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  z-index: 3;
}
.header-container {
  max-width: 1865px;
  padding: 0 20px;
  margin: 0 auto;
}
.header-title {
  margin: 0;
}
.header-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 22px;
}
.header-popUp {
  position: absolute;
  bottom: -272px;
  right: 0;
  background-color: #fff;
  border-radius: 4px;
  width: 253px;
  height: 273px;
  transform: scale(0);
  z-index: 4;
  transition: 0.2s ease;
}
.header-popUp-wrapper {
  padding: 30px 22px 25px 31px;
  position: relative;
}
.header-popUp-wrapper::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-bottom: 4px solid #fff;
  border-right: 6px solid transparent;
  top: -4px;
  right: 10px;
}
.header-popUp-wrapper::before {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-bottom: 4px solid #fff;
  border-left: 6px solid transparent;
  top: -4px;
  right: 16px;
}
.header-popUp__user {
  display: flex;
}
.header-popUp__user {
  border-bottom: 1px solid #f2f2f2;
}
.header-popUp__user-img {
  position: relative;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.header-popUp__user-img::before {
  position: absolute;
  content: '';
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  border-radius: 50%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}
.header-popUp__user-ava {
  position: relative;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  z-index: 3;
}
.header-popUp__user {
  display: flex;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.header-popUp__user-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #22282d;
}
.header-popUp__user-description {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #7a8084;
}
.header-popUp__nav {
  margin-bottom: 25px;
}
.header-popUp__item {
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header-popUp__item:last-child {
  margin-bottom: 0;
}
.header-popUp__user-name {
  font-weight: 400;
  font-size: 16px;
  color: #22282d;
}
.header-popUp__link {
  font-weight: 400;
  font-size: 16px;
  color: #7a8084;
}
.header-popUp__item:hover .header-popUp__link {
  color: #000;
  transition: 0.9s ease;
}
.header-popUp__count {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #8e9fbc;
  box-shadow: 0px 5px 10px rgba(142, 159, 188, 0.26);
  border-radius: 31px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.header-popUp__exit {
  text-decoration-line: underline;
  color: #7a8084;
}
.header-panel {
  display: flex;
  align-items: center;
}
.header-panel__nav {
  margin-right: 151px;
}
.header-panel__nav-list {
  display: flex;
}
.header-panel__nav-item {
  margin-right: 34px;
}
.header-panel__nav-item:hover .header-panel__nav-link {
  opacity: 0.5;
  transition: 0.9s ease;
}
.header-panel__nav-item:last-child {
  margin-right: 0;
}
.header-panel__nav-link {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}
.header-panel__button {
  position: relative;
  padding: 14px 39px 13px 39px;
  background-color: transparent;
  padding: 0;
  border: 0;
  width: 215px;
  height: 49px;
  margin-right: 38px;
}
.header-panel__buttons-marks {
  display: flex;
  align-items: center;
  margin-right: 45px;
}
.header-panel__button::after {
  position: absolute;
  content: 'создать объявление';
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -25%);
  z-index: 5;
  color: #fff;
  text-transform: uppercase;
  font-style: normal;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
}
.header-panel__button-border {
  width: 215px;
  height: 49px;
  fill: rgba(255, 255, 255, 0.04);
  stroke: #fff;
  stroke-opacity: 0.1;
}
.header-panel__button:hover .header-panel__button-border {
  fill: rgba(255, 255, 255, 0.4);
  stroke: #fff;
  stroke-opacity: 1;
  transition: 0.9s ease;
}
.header-panel__button-marks {
  position: relative;
  background-color: transparent;
  border: 0;
  margin-right: 25px;
}
.header-panel__button-marks:last-child {
  margin-right: 0;
}
.header-panel__button-marks-svg {
  fill: none;
  opacity: 0.5;
  stroke: #fff;
}
.header-panel__button-marks:hover .header-panel__button-marks-svg {
  opacity: 1;
  transition: 0.9s ease;
}
.header-panel__button-compare-count {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 19px;
  height: 19px;
  background-color: #fff;
  border-radius: 50%;
  bottom: 0;
  right: -5px;
}
.header-panel__user {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 42px;
  cursor: pointer;
}
.header-panel__overlay {
  position: absolute;
  top: -5px;
  left: -5px;
  bottom: -15px;
  right: -5px;
}
.header-panel__overlay:hover .header-popUp {
  opacity: 1;
  right: 0;
  transition: 0.6s ease;
  transform: scale(1);
}
.header-user-image {
  position: relative;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 14px;
  box-shadow: 0px 9px 17px rgba(142, 159, 188, 0.6);
}
.header-user-image::before {
  position: absolute;
  content: '';
  z-index: 2;
  border-radius: 50%;
  left: -2px;
  right: -2px;
  top: -2px;
  bottom: -2px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.header-user-avatar {
  position: relative;
  z-index: 3;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.header-panel__user-name {
  color: #fff;
}
