@media (min-width: 1023px) {
  .swiper-button-prev-hor:hover svg {
    fill: #8e9fbc;
    transition: 0.9s ease;
  }
  .swiper-button-next-hor:hover svg {
    fill: #8e9fbc;
    transition: 0.9s ease;
  }
  .swiper-button-prev-small:hover svg {
    fill: #8e9fbc;
    transition: 0.9s ease;
  }
  .swiper-button-next-small:hover svg {
    fill: #8e9fbc;
    transition: 0.9s ease;
  }
  .slide-boat:hover .slide-boat__name {
    color: #8e9fbc;
    opacity: 0.6;
    transition: 0.9s ease;
  }
  .slide-small:hover .slide-small__name {
    color: #8e9fbc;
    opacity: 0.6;
    transition: 0.9s ease;
  }
  .slide-photo-horizontal:hover .slide-photo-horizontal__name {
    color: #8e9fbc;
    opacity: 0.6;
    transition: 0.9s ease;
  }
  .slide-photo:hover .slide-photo__img {
    box-shadow: 0px 0px 7px #000;
    transition: 0.6s ease;
  }
  .slide-photo-horizontal:hover .slide-photo-horizontal__img {
    box-shadow: 0px 0px 7px #000;
    transition: 0.6s ease;
  }
  .swiper-slide-tabs:hover a {
    color: #fff;
    transition: 0.9s ease;
  }
  .swiper-slide-tabs-active:hover a {
    color: #8e9fbc;
    transition: 0.9s ease;
  }
  .swiper-slide-tabs:hover {
    background-color: #8e9fbc;
    transition: 0.9s ease;
  }
  .swiper-slide-tabs-active:hover {
    background-color: #fff;
    transition: 0.9s ease;
  }
  .journal-wrapper__goto:hover .journal-wrapper__goto-name {
    color: #22282d;
    opacity: 0.5;
    transition: 0.9s ease;
  }
  .journal-wrapper__goto:hover .journal-wrapper__goto-line {
    background-color: #22282d;
    transition: 0.9s ease;
  }
  .journal-wrapper__goto:hover .journal-wrapper__goto-button-svg {
    stroke: #fff;
    transition: 0.9s ease;
  }
  .journal-wrapper__goto:hover .journal-wrapper__goto-button {
    background-color: #8e9fbc;
    border: 1px solid #8e9fbc;
    transition: 0.9s ease;
  }
}
@media (max-width: 1700px) {
  .journal-wrapper-container__all-bottom-mambo {
    flex-shrink: 0.95;
  }
  .slide-photo-horizontal__description {
    margin-bottom: 15px;
  }
  .slide-photo-horizontal__description-altea {
    margin-bottom: 15px;
  }
  .slide-photo-horizontal__img {
    margin-bottom: 15px;
  }
}
@media (max-width: 1300px) {
  .slide-boat__buttons {
    top: 70px;
    right: 38px;
  }
  // .journal-wrapper-container__all-top {
  //   height: 417px;
  // }
  // .slide-photo {
  //   height: 426px;
  //   width: auto;
  // }
  .swiper-photo {
    max-height: 426px;
  }

  .slide-photo__img {
    // width: 321px;
    // height: 426px;
    // object-fit: cover;
  }
  .swiper-slide-bottom-left {
    // width: auto !important;
  }
  .journal-container-top {
    padding-bottom: 33px;
  }
  .journal-wrapper__title {
    font-size: 42px;
    line-height: 51px;
  }
  .journal-wrapper-container__all-bottom-topics {
    display: none;
  }
  .swiper-photo {
    display: block;
  }
  .journal-wrapper-container-slider {
    // max-width: 1300px;
    padding-right: 0;
    // padding-left: 10px;
  }
  .journal-wrapper-container__all-slider-small {
    display: none;
  }
  .journal-wrapper-container__all-slider-horizontal {
    width: 100%;
    height: 100%;
    padding-right: 0;
  }
  .swiper-tabs {
    display: block;
    padding: 0 5px;
  }
  .journal-wrapper__nav {
    display: none;
  }
  .tabs-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
  .swiper-slide-tabs {
    position: relative;
    padding: 10px 32px;
    width: auto !important;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    cursor: pointer;
    transition: 0.9s ease;
    margin-right: 10px;
  }
  .swiper-slide-tabs__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  .swiper-slide-tabs-active {
    background-color: #8e9fbc;
    border: 1px solid #8e9fbc;
    transition: 0.9s ease;
  }
  .swiper-slide-link {
    color: #22282d;
    transition: 0.9s ease;
  }
  .swiper-slide-link-active {
    color: #fff;
    transition: 0.9s ease;
  }
  .journal-wrapper__slider-block {
    width: 100%;
  }
  .journal-wrapper__slider-nav {
    max-width: 750px;
    margin: 0 auto;
  }

  .slide-photo {
    height: 426px;
  }
  .slide-photo-horizontal {
    height: 426px;
  }
  .slide-photo-horizontal__img {
    height: 227px;
  }
  .slide-photo__content {
    padding: 0 37px 37px 37px;
  }
  .slide-photo__description {
    font-size: 14px;
    line-height: 24px;
  }
  .slide-photo-horizontal__name {
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 0;
    border: none;
  }
  .slide-photo-horizontal__description {
    max-width: 100%;
    height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #7a8084;
  }
  .swiper-slide-bottom {
    height: 426px !important;
  }
  .footer-subscribe__title {
    display: none;
  }
  .swiper-button-horizontal {
    margin-right: 20px;
  }
  .slide-boat {
    padding: 44px 39px 47px 52px;
  }
}
@media (max-width: 800px) {
  .journal-container-top {
    max-width: 800px;
    padding-right: 0;
  }
}
@media (max-width: 750px) {
  .swiper-photo {
    display: none;
  }
  .swiper-slide-bottom-none {
    display: none;
  }
  .slide-photo-horizontal {
    height: 352px;
  }
  .slide-photo-horizontal__name {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 3px;
  }
  .slide-photo-horizontal__tag {
    font-size: 10px;
    line-height: 11px;
  }

  .journal-wrapper-container__all-slider-horizontal {
    display: none;
  }
  .journal-wrapper__goto {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .journal-wrapper__goto-block {
    margin-right: 0;
    margin-bottom: 22px;
  }
  .journal-wrapper__goto-name {
    margin-bottom: 5px;
  }
  .journal-wrapper__goto-button {
    display: none;
  }
  .journal-wrapper {
    display: flex;
    flex-direction: column;
  }
  .journal-wrapper__title {
    order: -1;
    margin-bottom: 3px;
  }
  .journal-wrapper-container__all-top {
    height: 400px;
    font-family: 'Roboto';
    font-style: normal;
  }
  .swiper-mobile-top {
    display: block;
    height: 400px;
    margin-bottom: 0;
  }
  .swiper-mobile-top-slide__img {
    width: 100%;
    height: 250px;
  }
  .swiper-mobile-top-slide__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-horizontal > .swiper-pagination-progressbar,
  .swiper-pagination-progressbar.swiper-pagination-horizontal,
  .swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
  .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite {
    top: 60% !important;
    height: 4px !important;
    transform: translate(0, 6px) !important;
  }
  .swiper-mobile-top-slide-title {
    margin-top: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #22282d;
  }
  .swiper-mobile-top-slide-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #7a8084;
    max-width: 100%;
    height: 48px;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
    margin-top: 3px;
  }
  .swiper-mobile-top-slide-tag {
    margin-top: 25px;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: #7a8084;
  }
  .journal-wrapper-container__all-top-middle {
    display: block;
    position: relative;
    // height: 400px;
  }
  .swiper-slide-mobile-middle {
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid rgba(229, 229, 229, 1);
    margin-bottom: 44px;
  }
  .swiper-slide-mobile-middle__descripton {
    font-size: 16px;
    line-height: 24px;
    max-width: 100%;
    height: 48px;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
    margin-top: 20px;
    margin-left: 30px;
  }
  .swiper-slide-mobile-middle__tag {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 21px;
    color: #7a8084;
  }
  .swiper-slide-mobile-middle__img {
    width: 100%;
    height: 500px;
  }
  .swiper-slide-mobile-middle__image {
    width: 101%;
    height: 100%;
    object-fit: cover;
  }
  .journal-wrapper-container__all-top-bottom {
    display: block;
    height: 470px;
    font-family: 'Roboto';
    font-style: normal;
  }
  .slide-swiper-bottom__img {
    width: 100%;
    height: 300px;
  }
  .slide-swiper-bottom__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .slide-swiper-bottom__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    margin-top: 16px;
  }
  .slide-swiper-bottom__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    max-width: 100%;
    height: 48px;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
    margin-top: 3px;
    color: #7a8084;
  }
  .slide-swiper-bottom__tag {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    margin-top: 30px;
  }
}
@media (max-width: 500px) {
  .swiper-mobile-top-slide__img {
    width: 100%;
    height: 189px;
  }
  .swiper-slide-mobile-middle__img {
    height: 283px;
  }
  .swiper-horizontal > .swiper-pagination-progressbar,
  .swiper-pagination-progressbar.swiper-pagination-horizontal,
  .swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
  .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite {
    top: 53% !important;
    transform: translate(0, 0) !important;
  }
  .swiper-mobile-top {
    height: 350px;
  }
  .journal-wrapper-container__all-top {
    height: 350px;
  }
  .slide-swiper-bottom__img {
    height: 158px;
  }
  .journal-wrapper-container__all-top-bottom {
    height: 330px;
  }
}
